.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 10px;
  margin-right: 15px;
  background-color: #61dafb;
  /* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2); */
  overflow: auto;
  border-radius: 10px;
}